{% extends 'base.html.twig' %}

{% block title %}Hello there!{% endblock %}

{% block body %}
    <h1>Welcome {{ first_name }}</h1>

    <p>Bienvenue sur le cours de {{ module }} des {{ classe }} de {{ annee }}</p>
{% endblock %}

{#
    {% block nomBlock %}Contenu du bloc{%endblock}
    {% if condition %} {% endif %} ex : {% if controller_name == HomeController %}<p> Ceci est le home controller </p> {% endif %}
#}